---
import CarouselBannerWrapper from '@/components/CarouselBannerWrapper.astro'
import MoviesCarousel from '@/components/MoviesCarousel.astro'
import BasicLayout from '@/layouts/BasicLayout.astro'
import { getUpcomingMovies, getTopRatedMovies } from '@/lib/getMovies'
import '@/styles/global.css'

const upcomingMovies = await getUpcomingMovies()
const topRatedMovies = await getTopRatedMovies()
---
<BasicLayout pageTitle="Disney+ Clone">
	<CarouselBannerWrapper />

    <div class="flex flex-col gap-y-2">
        <MoviesCarousel movies={upcomingMovies} title="Upcoming" />
        <MoviesCarousel movies={topRatedMovies} title="Top Rated" />
        <!-- <MoviesCarousel movies={popularMovies} title="Popular" /> -->
    </div>
</BasicLayout>
